main {
  margin: 0 1rem;
  padding-top: 8rem;
  width: calc(100% - 2rem);
}

.travel_header {
  font-size: 2.8rem;
  margin-top: 3rem;
  color: #F5F5F5;
  margin-bottom: 2rem;
  text-align: center;
}

.travel {
  margin: 4rem 0;
  position: relative;
  margin-bottom: 10rem;
}

.travel_destination {
  width: 100%;
  height: 45vh;
  position: relative;
}

.nyc {
  background: url(../photos/ny_1.jpg) top 45% left 0% / cover no-repeat;
}

.nh {
  background: url(../photos/nh_1.jpg) top 40% left 0% / cover no-repeat;
}

.vermont {
  background: url(../photos/vermont_1.jpg) top 90% left 0% / cover no-repeat;
}

.newport {
  background: url(../photos/newport_1.jpg) top 50% left 0% / cover no-repeat;
}

.australia {
  background: url(../photos/australia_1.jpg) top 62.5% left 0% / cover no-repeat;
}
.california {
  background: url(../photos/cali_1.jpg) top 62.5% left 0% / cover no-repeat;
}
.aruba {
  background: url(../photos/aruba_1.jpg) top 50% left 0% / cover no-repeat;
}

.travel_destination-name {
  color: whitesmoke;
  font-size: 2rem;
  position: absolute;
  top: 5%;
  text-align: center;
  width: 100%;
}

.travel_destination-time {
  color: whitesmoke;
  font-size: 1.6rem;
  position: absolute;
  top: 17%;
  text-align: center;
  width: 100%;
}

.travel_destination-photos {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  height: 45vh;
}

.travel_destination-photo-left {
  display: inline-block;
  width: 100%;
  height: 45vh;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
}

.travel_destination-photo-right {
  display: none;
  width: 50%;
  height: 45vh;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}

.travel_destination-photo-ny2 {
  background: url(../photos/ny_2.JPG) center/cover no-repeat;
}

.travel_destination-photo-ny3 {
  background: url(../photos/ny_3.jpg) top 35% left 0% / cover no-repeat;
}

.travel_destination-photo-nh2 {
  background: url(../photos/nh_2.jpg) top 70% left 0% / cover no-repeat;
}

.travel_destination-photo-nh3 {
  background: url(../photos/nh_3.jpg) top 40% left 0% / cover
    no-repeat;
}

.travel_destination-photo-vermont2 {
  background: url(../photos/vermont_2.jpg) top 55% left 0% / cover
    no-repeat;
}

.travel_destination-photo-vermont3 {
  background: url(../photos/vermont_3.jpg) top 55% left 0% / cover
    no-repeat;
}

.travel_destination-photo-np2 {
  background: url(../photos/newport_2.jpg) top 70% left 0% / cover no-repeat;
}

.travel_destination-photo-np3 {
  background: url(../photos/newport_3.jpg) top 60% left 0% / cover no-repeat;
}

.travel_destination-photo-aus2 {
  background: url(../photos/australia_2.jpg) top 55% left 0% / cover no-repeat;
}

.travel_destination-photo-aus3 {
  background: url(../photos/australia_3.jpg) top 35% left 0% / cover no-repeat;
}

.travel_destination-photo-cali2 {
  background: url(../photos/cali_2.jpg) top 57.5% left 0% / cover no-repeat;
}

.travel_destination-photo-cali3 {
  background: url(../photos/cali_3.jpg) top 65% left 0% / cover no-repeat;
}

.travel_destination-photo-aruba2 {
  background: url(../photos/aruba_2.jpg) top 30% left 0% / cover no-repeat;
}

.travel_destination-photo-aruba3 {
  background: url(../photos/aruba_3.jpg) top 65% left 0% / cover no-repeat;
}

@media (min-width: 36rem) {
  .travel_header {
    padding: 0 4rem;
    font-size: 4rem;
  }
  .travel_destination-name {
    font-size: 2.6rem;
    left: 2rem;
    text-align: left;
  }

  .travel_destination-time {
    font-size: 1.4rem;
    left: 2rem;
    text-align: left;
    padding-top: 0.6rem;
  }
}

@media (min-width: 52rem) {
  .travel_destination-name {
    font-size: 2.6rem;
  }

  .travel_destination-time {
    font-size: 1.4rem;
  }
}

@media (min-width: 55rem) {
  .travel_destination-photo-right {
    display: inline-block;
  }
  .travel_destination-photo-left {
    width: 50%;
  }
}
