.resume {
  padding: 0 2rem;
  padding-top: 8rem;
  text-align: center;
  color: #F5F5F5;
  width: 100%;
}

.resume_section {
  margin: 2rem 0;
}

.resume_section-header {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.resume_section-school,
.resume_experience {
  margin-bottom: 1.5rem;
  position: relative;
  min-height: 150px;
}

.resume_school-name,
.resume_experience-name {
  font-size: 1.4rem;
  padding: 0.1rem 0;
  color: #F5F5F5;
}

.resume_school-major,
.resume_experience-position {
  color: #C0C0C0;
  font-weight: 700;
  font-size: 1.1rem;
  padding-bottom: 0.2rem;
}

.resume_school-grad,
.resume_school-gpa,
.format,
.resume_experience-time,
.resume_experience-location {
  display: inline-block;
  padding-right: 0.7rem;
  margin-bottom: 0.4rem;
  font-weight: 700;
  color: #C0C0C0;
}

.dot {
  position: absolute;
  left: -2.2rem;
  transform: translateX(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #C0C0C0;
  visibility: hidden;
}

.resume_experience-info {
  padding-left: 1rem;
  font-weight: bold;
}

.resume_school-activites,
.resume_school-coursework {
  width: 100%;
  margin: 0.1rem;
  font-weight: bold;
}

.resume_experience-info_li {
  width: 100%;
  margin: 0.1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-size: 1rem;
}

.resume_school-picture,
.resume_experience-pictrue {
  border: 3px solid #C0C0C0;
  border-radius: 100px;
  width: 9rem;
  height: 9rem;
  position: absolute;
  top: 0%;
  right: 3%;
  display: none;
}

.resume_school-neu {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiUaB4QZg6G1s1pCCaYGoer0oVvVZfSiy88w&sz")
    center/cover;
}

.resume_experience-plcn {
  background: url("https://play-lh.googleusercontent.com/792cOZmgyvWNQrXUGcVffVsm6znneWukthqxF7U2kzVbEZNFLkc8ObrYlGk66ZwojeST")
    center/cover;
}

.resume_experience-uscg {
  background: url("https://www.atlanticarea.uscg.mil/portals/7/First%20District/Sector-New-York/Sector-New-York-UNIT-SEAL.jpg")
    center/cover;
}

.resume_experience-knack {
  background: url("https://play-lh.googleusercontent.com/Pu7aKjIJm3Sq-PiKKhtcBJ45oG3CHDJu6NcYUbWS9MsqjK3Y_-XMCF_4tBx80_8l5cDG")
    center/cover;
}


.resume_frameworks {
  list-style: none;
}

.resume_frameworks-li {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  vertical-align: top;
}

.resume_frameworks-photo {
  border: #F5F5F5 solid 3px;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 100px;
}

.resume_frameworks-name {
  font-weight: 500;
  width: 5.5rem;
  font-size: 1rem;
  padding-top: 0.8rem;
}


.kotlin {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kotlin/kotlin-original.svg")
    center/cover no-repeat;
  background-size: 80%;
}


.java {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg")
    center/cover no-repeat;
  background-size: 70%;
}

.python {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg")
    center/cover no-repeat;
  background-size: 80%;
}

.react {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg")
    center/cover no-repeat;
  background-size: 80%;
}

.node {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original.svg")
    center/cover no-repeat;
  background-size: 75%;
}

.javascript {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg")
    center/cover no-repeat;
  background-size: 60%;
}

.c {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg")
    center/cover no-repeat;
    background-size: 70%;
}

.cplusplus {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg")
    center/cover no-repeat;
  background-size: 80%;
}

.csharp {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg")
    center/cover no-repeat;
  background-size: 80%;
}

.html {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg")
    center/cover no-repeat;
  background-size: 65%;
}

.css {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg")
    center/cover no-repeat;
  background-size: 65%;
}

.postgres {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg")
    center/cover no-repeat;
  background-size: 65%;
}

.graphql {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/graphql/graphql-plain.svg")
    center/cover no-repeat;
  background-size: 65%;
}

.cassandra {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cassandra/cassandra-original.svg")
    center/cover no-repeat;
  background-size: 85%;
}

.mongo {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original.svg")
    center/cover no-repeat;
  background-size: 65%;
}

.clickhouse {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/clickhouse/clickhouse-original.svg")
    center/cover no-repeat;
  background-size: 60%;
}

.couchbase {
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/couchbase/couchbase-original.svg")
    center/cover no-repeat;
  background-size: 65%;
}

@media (min-width: 45rem) {
  .resume {
    text-align: left;
    padding: 0 5rem;
    padding-top: 7rem;
  }

  .resume_school-activites,
  .resume_school-coursework {
    width: 75%;
  }

  .resume_experience-info_li {
    padding-bottom: 0.4rem;
    width: 82%;
  }

  .resume_experiences {
    border-left: .4rem solid #C0C0C0;
    padding-left: 2rem;
    margin-left: 0.5rem;
  }

  .dot {
    visibility: visible;
  }
}

@media (min-width: 62rem) {
  .resume_school-picture,
  .resume_experience-pictrue {
    display: block;
  }
}